@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,200;0,400;1,100;1,300&display=swap");

* {
  margin: 0;
}
:root {
  --primary-color: ;
}

a {
  text-decoration: inherit;
  color: inherit;
}
